<fbtm-topbar profile="profile" path="path"></fbtm-topbar> 
<fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>    

<div class="main" ng-controller="GTAntennasVC" >
<div class="view-container">
	<div class="row" >  
			<div class="col-sm-12" style="padding-left:20px;padding-right:20px;padding-bottom:40px;">
			    <div class="pull-left">
					<a class="btn btn-lg btn-success-transparent" href="#/antennas/collection"><span class="glyphicon glyphicon-th"></span> Colección</a>
		  		    <a class="btn btn-lg btn-success-transparent" href="#/antennas/map"><span class="glyphicon glyphicon-map-marker"></span> Mapa</a>
		    	</div>
				  
		        <div class="pull-right">
		          	<div class="btn btn-lg btn-success" ng-click="openAntennaModal()"><span class="glyphicon glyphicon-plus"></span> Activar antena</div>
				</div>       
				<div class="text-center">
				 	<div class="btn btn-lg btn-success-transparent"><span class="glyphicon glyphicon-shopping-cart"></span> Adquirir más antenas</div>
				</div>  
			</div> 
          
			<div class="col-sm-12 " style="padding-left:20px;padding-right:20px;padding-bottom:40px;">
			
                	<div class="content-box content-box-container">
	          			<div class="table-responsive">
				            <table class="table table-striped">
				              <thead>
				                <tr>
				                  <th ng-repeat="cab in listCab">{{cab}}</th>
				                </tr>
				              </thead>
				              <tbody>
				                <tr ng-repeat="key in antennaKeyList">
				                  <td>{{antennaList[key].name}}</td>
				                  <td>{{antennaList[key].location}}</td>
				                  <td>{{antennaList[key].section}}</td>
				                  <td><a class="btn btn-success-transparent" href="#/antennas/edit/{{key}}">Editar</a></td>
				                </tr>
				              </tbody>
				            </table>
			       		</div>
        		</div>
  			</div>
		</div>
	</div>
</div>