	<!-- HEADER -->
			<div class="modal-header">
			  <button type="button" ng-click='cancel()' class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  <h3 class="modal-title text-center">Activación de Antena Fibity</h3>
			</div>
			<!-- END HEADER -->

			<!-- BODY 1 -->
			<div class="modal-body" ng-show="cambio == false">
			    <div class="fbtm-antennas-modal-stick">
			      <h3 class="text-center">Su clave de activación es:</h3><br><br>
			      <div class="row form-group">
			        <div class="col-md-3">
			          <input type="text" class="form-control text-center" x-ng-focus="txtfocus1" ng-model="activation.txtcasilla1" ng-keyup="actualizarCasilla1()" maxlength=5/>
			        </div>
			        <div class="col-md-3">
			          <input type="text" class="form-control text-center" x-ng-focus="txtfocus2" ng-model="activation.txtcasilla2" ng-keyup="actualizarCasilla2()" maxlength=5> 
			        </div>
			        <div class="col-md-3">
			          <input type="text" class="form-control text-center" x-ng-focus="txtfocus3" ng-model="activation.txtcasilla3" ng-keyup="actualizarCasilla3()" maxlength=5> 
			        </div>
			        <div class="col-md-3">
			          <input type="text" class="form-control text-center" x-ng-focus="txtfocus4" ng-model="activation.txtcasilla4" ng-keyup="actualizarCasilla4()" maxlength=5>  
			        </div>
			      </div>
			      <br/>
			       <p class="text-center">Fibity ETX1 - SN: XX0000</p>
			     </div> 
			</div>
			<!-- END BODY 1 -->

			<!-- BODY 2 -->
			<div class="modal-body" ng-show="cambio == true">
			      <div class="fbtm-antennas-modal-stick">
			                <div class="form-group">
			                    <label for="exampleInputPassword1">Nombre</label>
			                    <input type="text" id="ant-name" x-ng-focus="txtfocus6" ng-model="tmpAntenna.name" ng-keyup="comprobar();" class="form-control" placeholder="Nombre de la Antena">
			                </div>
			                <div class="form-group">
			                    <label for="exampleInputPassword1">Lugar de instalación</label>
			                    <input type="text" id="ant-location" ng-keyup="comprobar()" 
			                    ng-model='tmpAntenna.location' class="form-control" placeholder="Serrano 47, 28041, Madrid" >
			                </div>
			                <div class="form-group">
			                    <label for="exampleInputPassword1">Departamento / Sección</label>
			                    <input type="text" id="ant-section" ng-keyup="comprobar()" 
			                    ng-model='tmpAntenna.section' class="form-control" placeholder="Departamento de menaje">
			                </div>
			         </div>
			 </div> 
			<!-- END BODY 2 -->
		
			<!-- FOOTER 1 -->
			<div class="modal-footer" ng-show="cambio == false">
			  <a class="pull-left btn btn-default" href="http://fibity.com" target="_black">¿Donde encuentro la clave de activación?</a>
			  <button type="button" class="btn btn-default btn-success"  ng-click='cancel()' data-dismiss="modal">Cerrar</button>
			  <button type="button" class="btn btn-primary btn-success" ng-disabled="boton1" x-ng-focus="txtfocus5" ng-click="changeView()">Siguiente <span class="glyphicon glyphicon-chevron-right"></span></button>
			</div> 
			<!-- END FOOTER 1 -->
			
			<!-- FOOTER 2 -->
 			<div class="modal-footer" ng-show="cambio == true">
			  <a class="pull-left btn btn-default" href="http://fibity.com" target="_black">¿Donde encuentro la clave de activación?</a>
			  <button type="button" class="btn btn-default btn-success"  ng-click='cancel()' data-dismiss="modal">Cerrar</button>
			  <button type="button" class="btn btn-primary btn-success" ng-click="ok()" ng-disabled="boton2">Guardar Cambios <span class="glyphicon glyphicon-chevron-right"></span></button>
			</div> 
            <!-- END FOOTER 2 -->
  
  
  
  
  
  
  
  
  
  
  