<div ng-controller="GTBillingVC" ng-cloak class="container-non-responsive">
   <fbtm-topbar profile="profile"></fbtm-topbar>
   
   <div class="container-fluid">
   
            <div class="col-sx-10 col-sx-offset-3 col-md-10 col-md-offset-2 main" >
 
          <h1 class="page-header">{{title}}</h1>
   
   
   
   
      <div class="row">
        <fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>
        <div class="container">

<div class="row">
  <div class="col-md-3">
  <div class="panel panel-success">
     <div class="panel-heading"><h3 class="text-center">Free</h3></div>
                       <ul class="list-group list-group-flush text-center">
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>1 Antena</li>
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>1 Usuario</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 1 Plantilla</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> -</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> -</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> -</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> -</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Soporte <span class="glyphicon glyphicon-globe"></span></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">0€</h1> usuario manager/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">0€</h1> usuario tienda/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">0,00€</h1> usuario App/día</strong></p></li>
						
						</ul>
    <div class="panel-footer panel-success">
    	
		<a class="btn btn-lg btn-block btn-default" href="">TARIFA ACTUAL</a>
	</div>
 </div>

  </div>
   <div class="col-md-3">
  <div class="panel panel-default">
     <div class="panel-heading"><h3 class="text-center">Silver</h3></div>
                       <ul class="list-group list-group-flush text-center">
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>Hasta 20 Antenas</li>
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>Hasta 5 Usuarios</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 3 Plantillas</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Tarjetas de Fidelización</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> -</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Estadístigas globales</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> -</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Soporte <span class="glyphicon glyphicon-globe"></span></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">30€</h1> usuario manager/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">12€</h1> usuario tienda/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">0,10€</h1> usuario App/día</strong></p></li>
						
						</ul>
    <div class="panel-footer">
		<a class="btn btn-lg btn-block btn-success" href="">CONTRATAR!</a>
	</div>
 </div>

  </div>
  
     <div class="col-md-3">
  <div class="panel panel-warning">
     <div class="panel-heading"><h3 class="text-center">Gold</h3></div>

                       <ul class="list-group list-group-flush text-center">
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>Hasta 100 Antenas</li>
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>Hasta 20 Usuarios</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 4 Plantillas</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Tarjetas de Fidelización</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Campañas programables</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Estadístigas globales</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Estadístigas por campaña</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Soporte <span class="glyphicon glyphicon-globe"></span> y <span class="glyphicon glyphicon-envelope"></span></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">60€</h1> usuario manager/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">9€</h1> usuario tienda/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">0,09€</h1> usuario App/día</strong></p></li>
						</ul>
    <div class="panel-footer panel-warning">
		<a class="btn btn-lg btn-block btn-success" href="">CONTRATAR!</a>
	</div>
 </div>

  </div>
  
   <div class="col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="text-center">Business</h3></div>
                       <ul class="list-group list-group-flush text-center">
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>Antenas ilimitadas</li>
                       		<li class="list-group-item"><i class="icon-ok text-danger"></i>Usuarios ilimitados</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 5 Plantillas</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Tarjetas de Fidelización</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Campañas programables</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Estadístigas globales</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Estadístigas por campaña</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Soporte <span class="glyphicon glyphicon-globe"></span>, <span class="glyphicon glyphicon-envelope"></span> y <span class="glyphicon glyphicon-earphone"></span>  </li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">120€</h1> usuario manager/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">6€</h1> usuario tienda/mes</strong></p></li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i><p class="lead" style="font-size:10px"><strong><h1 style="font-size:40px">0,08€</h1> usuario App/día</strong></p></li>
						</ul>
    <div class="panel-info panel-footer ">
		<a class="btn btn-lg btn-block btn-success" href="">CONTRATAR!</a>
	</div>
 </div>

  </div>
  </div>
</div>



        
        

            <div class="modal-body">
                <div class="row col-md-6">
                <div ng-if="visible != true">
                <label>Razón Social: {{tmpbilling.razonSocial}}</label><br>
                <label>CIF: {{tmpbilling.cif}}</label>
                </div>
                <div ng-if="visible == true">
                <h4>Nombre:</h4>
                <label>{{tmpbilling.name}} {{tmpbilling.apellido}}</label><br>
                <h4>Dni:</h4>
                <label>{{tmpbilling.dni}}</label><rbr>
                </div>
                </div>
                <div class="row col-md-6">
                <h4>Dirección:</h4>
                <label>{{tmpbilling.direccion1}} - {{tmpbilling.direccion2}}</label><br>
                <label>{{tmpbilling.poblacion}}, {{tmpbilling.codigoPostal}}, {{tmpbilling.provincia}}</label><br>
                <h4>Telefono:</h4>
                <label>{{tmpbilling.telefono}}</label>
                </div>
            </div>
            <div>
              <button type="button" ng-click="openBillingModal()" class="btn btn-success">Editar</button>
            </div>
            <div class="row col-md-12">
              <hr>
                <h3 align="center">Factura</h3>
              <hr>
            </div>
            <div>
              <table class="table table-hover billing">
                <tr>
                  <th class='billing' ng-repeat='cab in cabecera'>{{cab}}</th>
                </tr>
                 <tr ng-repeat='per in factura'>
                  <td>{{per.periodo}}</td>
                  <td>{{per.cuota}} €</td>
                  <td>{{per.consumo}} €</td>
                  <td>{{per.iva}} €</td>
                  <td>{{per.total}} €</td>
                  <td><button type="button" class="btn btn-primary btn-success glyphicon glyphicon-download"> Download</button></td>
                 </tr>  
              </table>
            </div>
         </div>
      </div>
   </div>
</div>