<fbtm-topbar profile="profile" path="path"></fbtm-topbar> 
<fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>    

<div class="main">
	<div class="view-container">
	   	<div class="row">  
	   	
   				 <div class="col-sm-3" > 
               		<div class="content-box edit-options" ng-class="{active: basic}" ng-click="basic=true;ants=false;cal=false;stats=false;">
                 			<span class="glyphicon glyphicon-picture" style="font-size:40px;padding-top:15px"></span><br>
                 			<div style="margin-top:10px">Contenido</div>
	            	</div>
	            </div>
	            
	            <div class="col-sm-3"> 
               		<div class="content-box edit-options" ng-class="{active: ants}" ng-click="basic=false;ants=true;cal=false;stats=false;" ng-init="ants=true">
                 			<span class="glyphicon glyphicon-map-marker" style="font-size:40px;padding-top:15px"></span><br>
                 			<div style="margin-top:10px">Antenas</div>
	            	</div>
	            </div>
	            
   				<div class="col-sm-3" ng-click="updateCalendar();" > 
               		<div class="content-box edit-options" ng-class="{active: cal,disable: myswitch=='off'}" ng-click="basic=false;ants=false;cal=true;stats=false;">
                 			<span class="glyphicon glyphicon-calendar" style="font-size:40px;padding-top:15px"></span><br>
                 			<div style="margin-top:10px">Calendario</div>
               		</div>
	            </div>
	            
	            <div class="col-sm-3"> 
               		<div class="content-box edit-options" ng-class="{active: stats}" ng-click="basic=false;ants=false;cal=false;stats=true;">
                 			<span class="glyphicon glyphicon-stats" style="font-size:40px;padding-top:15px"></span><br>
                 			<div style="margin-top:10px">Estadísticas</div>
                 	</div>
	            </div>
	   	</div>
	   	<div class="row" ng-show="basic" ng-init="basic=true"> 
                <div class="col-sm-5 col-md-5 col-lg-6" style="margin-bottom:40px;">
                	<div class="fbtm-start-infocard-phone">
	         			<div class="fbtm-start-infocard-img"  style="background-image:url('{{urlImg}}')"></div>
			            <div class="fbtm-start-infocard-info">
			              	<h3>{{txtTitle}}</h3>
			               	<p>{{txtDescription}}</p>
			           	</div>
			         </div>
               	</div>
                 
                <div class="col-sm-7 col-md-7 col-lg-6">
                	<div class="content-box content-box-container">
                	
							<div class="form-group">
				                <form class="pull-right">
								    <div class="toggle-bg" ng-class="{on:myswitch=='on',off:myswitch=='off'}">
								      <input type="radio" name="toggle" value="off" ng-model="myswitch">
								      <input type="radio" name="toggle" value="on" ng-model="myswitch">
								      <span class="switch"  ng-class="{on:myswitch=='on',off:myswitch=='off'}"></span>
								    </div>   
							   </form>
							   <label style="padding-bottom:10px;padding-top:5px;">Campaña dinámica</label>
      						</div>
      						
							<h4>Nombre de la Campaña</h4>
					        <input type="text" id="name" x-ng-focus="txtfocus1" class="form-control focus" ng-model="tmpCampaign.name"
					                 ng-keyup="actualizarName();" placeholder="Mi campaña" maxlength='40' focus="focus" >
					                  
							<h4>Tarjeta de Información</h4>
					        <select class="form-control" ng-model="optionsInfocard.optInfo" ng-options="keyInfo.title for keyInfo in infoCardsKeyList">
					        </select>
                	</div>
                </div>
          </div>
          <div class="row" ng-show="ants" ng-init="ants=false">  
            
          		<div class="col-xs-6">
                	<div class="content-box " style="height:655px;">
	                	<google-map center="map.center" zoom="map.zoom" draggable="true" options="options" refresh=true>
	          				<marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" icon="marker.icon"></marker>
	      				</google-map>
      				</div>
      				
                </div>
              
                <div class="col-sm-6 col-md-6 col-lg-6">
					<div class="content-box content-box-container">
							<h4>Antenas Asociadas</h4>
					        <div>
					         	<div class="fbtm-campaigns-modal-antennas-list" >
						            <div class="" ng-repeat="Ant in AntennasKeyListSelected" >
						            	<div class="form-control btn btn-success" style="text-align:left;margin-bottom: 1px; padding: 7px 10px;"><span class="glyphicon glyphicon-map-marker"></span> {{AntennasMap[Ant].name}} <span ng-click="deleteAnt(Ant);" class="glyphicon glyphicon-remove pull-right " style="color:rgrey;"></span></div>
						            </div>
					            </div>
					        </div>
					         <br>
					        <div ng-show="AntennasKeyListAvailable.length > 0">
						        <select  class="form-control" ng-model="optionsAntennas.optAnt" data-ng-options="AntennasMap[keyAnt].name for keyAnt in AntennasKeyListAvailable">
						        </select>
					         </div>
					</div>
				</div>
		</div>
		
		<div class="row" ng-show="cal && myswitch=='on'" ng-init="cal=false;">  
			
				<div class="col-sm-7 col-md-7 col-lg-8">
					<div class="content-box content-box-container">
				 		<div id="calendar" calendar="myCalendar1" ui-calendar="uiConfig.calendar" ng-model="eventSources"   ></div> 
				 	</div>
				</div>	
		
				<div class="col-sm-5 col-md-5 col-lg-4">
					<div class="content-box content-box-container">

							<!-- <div>
								 <button type="button" class="form-control btn btn-primary btn-success" ng-click="myCalendar1.fullCalendar('render');">Refrescar</button>
					            
							</div> -->
					
						  <div class="checkbox" ng-show="phase2">
						    <label><input type="checkbox" ng-model="datosEvents.allDay">Todo el día</label>
						  </div>
						   <label class="glyphicon glyphicon-calendar">Fecha Inicio</label>
						   <div class="form-group">
						   	   <p class="input-group">
					              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datepicker.dt" is-open="datepicker.opened" min-date="datepicker.minDate" max-date="datepicker.maxDate" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="form-control btn btn-primary btn-success" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
						    </div>
						   <label ng-show="showTime == true" class="glyphicon glyphicon-time">Hora Inicio</label>
						   <div ng-show="showTime == true" class="form-group">
						   	   <p class="input-group">
							      <input sy-timepicker-popup="HH:mm:ss" class="form-control" ng-model="timepicker.myTime" show-meridian="false" is-open="timepicker.openedTime" />
							      <span class="input-group-btn"><button class="form-control btn btn-primary btn-success" ng-click="openTime($event)"><i class="glyphicon glyphicon-time"></i></button></span>
							    </p>
						    </div>
						   <label class="glyphicon glyphicon-calendar">Fecha Fin</label>
						   <div class="form-group">
						   	   <p class="input-group">
					              <input type="text" ng-disabled="btncalen"  class="form-control" datepicker-popup="{{format}}" ng-model="datepickerend.dtend" is-open="datepickerend.openedEnd" min-date="datepickerend.minDateEnd" max-date="'2015-06-22'" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" ng-disabled="btncalen" class="form-control btn btn-primary btn-success" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
					       </div>
					       <label ng-show="showTime == true"  class="glyphicon glyphicon-time">Hora Final</label>
						   <div ng-show="showTime == true" class="form-group">
						   	   <p class="input-group">
							      <input sy-timepicker-popup="HH:mm:ss" class="form-control" ng-model="timepickerEnd.myTimeEnd" show-meridian="false" is-open="timepickerEnd.openedTimeEnd" />
							      <span class="input-group-btn"><button class="form-control btn btn-primary btn-success" ng-click="openTimeEnd($event)"><i class="glyphicon glyphicon-time"></i></button></span>
							    </p>
						    </div>
						  <div class="alert alert-danger" ng-show="showConflict == true" role="alert">No se puede crear el evento, porque ya se esta utilizando esa fecha. crea tu evento en otra fecha distinta que este disponible</div>  
						    
						  <div class="alert alert-danger" ng-show="showError == true" role="alert">No se ha añadido ningun cambio porque la hora final no puede ser igual a la hora de inicio.</div>  
		
						 <div class="alert alert-success" ng-show="infoCalendar == true" role="alert">
									  		Comprueba que todas las casillas esten rellenadas correctamente
									  </div>
						  <div align="right" style="margin-top:100%">
						 	<button type="button" ng-show="showDelete" ng-click="deleteEvents();" class="btn btn-danger">Borrar Programación</button>
						  </div>
		  			</div>
				</div>  
		</div>
			
		<div class="row" ng-show="stats" ng-init="stats=false">  	
			<div class="col-lg-12">
                	<div class="content-box content-box-container" style="padding-bottom:40px;margin-bottom:40px;" >
                		<label style="padding-bottom:10px;">Efectividad de la campaña</label>
                 		<div><cjs-line dataset="lineDataset" responsive="true"  style="height:300px;"></cjs-bar></div>
                 		<!--div style="height:300px;width:100%"><chart value="data"></chart></div-->
                  	</div>
       		</div>
       	</div>
       	
     </div>
</div>

<div class="buttons-box-bottom" ng-show="true"> 
	<div  ng-show="visibility.botonLoading == false">
    	<button class="btn btn-success-transparent btn-lg"  ng-click="discard()" type="submit">Descartar cambios</button>	
     	<button class="btn btn-success btn-lg" ng-click="saveCampaign()">Guardar Cambios</button>
	 </div>
	 <button class="btn btn-success btn-lg" ng-show="visibility.botonLoading == true" ng-disabled=true><img src="../images/fbtm_wait.gif"/> Guardando... </button>	
</div>
  
  










