<fbtm-topbar profile="profile" path="path"></fbtm-topbar> 

<fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>    

<div class="main">

	<div class="view-container">
			<div class="row" >  
			  <div class="col-sm-12" style="padding-left:20px;padding-right:20px;padding-bottom:40px;">
			      <div class="pull-left">
				  	  <a class="btn btn-lg btn-success-transparent" href="#/campaigns/list"><span class="glyphicon glyphicon-list"></span> Lista</a> 
				 </div>
				  
		          <div class="pull-right">
		          	 <a class="btn btn-lg btn-success pull-right" href="#/campaigns/new"><span class="glyphicon glyphicon-plus"></span> Nueva Campañas</a>
				   </div>       
				   <!--<div class="text-center">
				 	 <div class="btn btn-lg btn-success-transparent"><span class="glyphicon glyphicon-shopping-cart"></span> Adquirir más antenas</div>
				  </div>   --> 
			  </div>
			  
			   <div>
              		<h1 ng-show='campaigns.activada == true'>Campañas activadas</h1>
              		<hr ng-show='campaigns.activada == true'>
           		</div> 
			  
			   <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="key in schedulecampKeyList"  ng-show="schedulecampList[key].antennasList.length > 0" >      
					<div class="content-box card" style="cursor:pointer;" ng-click='openCampaign(key)'>
		                  <div class="fbtm-infocard-view-collection-img" style="background-image:url('{{infoCardMap[schedulecampList[key].infocardId].urlImg}}');"></div>
			         	  <div class="fbtm-infocard-view-collection-info">
		                        <h3>{{schedulecampList[key].name}}</h3>
		                        <div class="pull-right" ng-show="schedulecampList[key].dynamicMode"><p><span class="glyphicon glyphicon-calendar"></span> Fecha</p></div>
		                        <p>
		                        	<span class="glyphicon glyphicon-picture"></span> {{infoCardMap[schedulecampList[key].infocardId].title}}<br>
		                        	<span class="glyphicon glyphicon-map-marker"></span> {{schedulecampList[key].antennasList.length}}
		                        </p>
		                  </div>
		            </div>
		      </div> 
		      
		      <div>
              <h1 ng-show='campaigns.desactivada == true'>Campañas Desactivadas</h1>
              <hr ng-show='campaigns.desactivada == true'>
           </div>          
		      
		      <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="key in schedulecampKeyList"  ng-show="schedulecampList[key].antennasList.length == 0" >      
					<div class="content-box card" style="cursor:pointer;" ng-click='openCampaign(key)'>
		                  <div class="fbtm-infocard-view-collection-img" style="background-image:url('{{infoCardMap[schedulecampList[key].infocardId].urlImg}}');"></div>
			         	  <div class="fbtm-infocard-view-collection-info">
		                        <h3>{{schedulecampList[key].name}}</h3>
		                        <div class="pull-right" ng-show="schedulecampList[key].dynamicMode"><p><span class="glyphicon glyphicon-calendar"></span> Fecha</p></div>
		                        <p>
		                        	<span class="glyphicon glyphicon-picture"></span> {{infoCardMap[schedulecampList[key].infocardId].title}}<br>
		                        	<span class="glyphicon glyphicon-map-marker"></span> {{schedulecampList[key].antennasList.length}}
		                        </p>
		                  </div>
		            </div>
		      </div> 
           
		</div>

	</div>


</div>













