<div ng-controller="GTCustomersVC" customers-view-ctlr ng-cloak>
   <fbtm-topbar profile="profile"></fbtm-topbar>
   <div class="container-fluid">
      <div class="row">
        <fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>
        
        <div class="col-sx-9 col-sx-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{titleList}}</h1>
          
          <div class="row">
            <div>
              <div class="btn-group btn-group-lg btn-group-justified">
                
                <div class="btn btn-default" ng-click="crearlista();"><span class="glyphicon glyphicon-plus"></span>
                Añadir(Botón de Desarrollo)</div>
                
                <div class="btn btn-default" ng-click="borrarlista();"><span class="glyphicon glyphicon-remove"></span>
                Borrar Lista</div>
                
                <div class="btn btn-default"><span class="glyphicon glyphicon-th"></span>
                <a href="#/customers/collection">Vista en Iconos</a></div>
               
                <div class="btn btn-default"><span class="glyphicon glyphicon-list"></span> 
                <a href="#/customers/list">Vista en Lista</a></div>
              </div>
            </div>
          </div>
          
            
            <div class="row">
                <table class="table table-hover customersTable">
                  <tr>
                    <th ng-repeat="cab in cabecera">{{cab}}</th>
                  </tr>
                  <tr ng-repeat="key in customersKeyList">
                    <td><img class="Photo" src="images/{{customersList[key].foto}}"></td>
                    <td class="centro">{{customersList[key].name}}</td>
                    <td class="centro">{{customersList[key].apellido}}</td>     
                    <td class="centro">{{customersList[key].puntos}}</td>  
                    <td class="centro">{{customersList[key].lastVisita}}</td>                                                    
                  </tr>
                </table>
            </div>
        </div>
      </div>
   </div> 
</div>