
<fbtm-topbar profile="profile" path="path"></fbtm-topbar> 
<fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>    

<div class="main">
	<div class="view-container">
		<div class="row">  
	   			   			
	   			 <div class="col-sm-6" ng-click="updateCalendar();" > 
               		<div class="content-box edit-options" ng-class="{active: cal,disable: myswitch=='off'}" ng-click="basic=false;ants=false;cal=true;stats=false;">
                 			<span class="glyphicon glyphicon-calendar" style="font-size:40px;padding-top:15px"></span><br>
                 			<div style="margin-top:10px">Clientes cercanos</div>
               		</div>
	            </div>
	            
   				 <div class="col-sm-3" > 
               		<div class="content-box edit-options" ng-class="{active: basic}" ng-click="basic=true;ants=false;cal=false;stats=false;">
                 			<span class="glyphicon glyphicon-picture" style="font-size:40px;padding-top:15px"></span><br>
                 			<div style="margin-top:10px">Añadir Puntos</div>
	            	</div>
	            </div>
	            
	            <div class="col-sm-3"> 
               		<div class="content-box edit-options" ng-class="{active: ants}" ng-click="basic=false;ants=true;cal=false;stats=false;" ng-init="ants=true">
                 			<span class="glyphicon glyphicon-map-marker" style="font-size:40px;padding-top:15px"></span><br>
                 			<div style="margin-top:10px">Canjear Puntos</div>
	            	</div>
	            </div>
	            
   			
	   	</div>
	
	
	
	   	<div class="row">  
			   	<div class="col-sm-6"> 
               		<div class="content-box content-box-container" style="margin-bottom:40px;">
               		</div>
	            </div>
	            
   				<div class="col-sm-6 "> 
               		<div class="content-box content-box-container" style="margin-bottom:40px;">
                 		<div class="form-group">
			                <label>Fibity VIP Card<span>Numero de tarjeta de fidelización</span></label>
			                <input type="text" id="ant-name" x-ng-focus="txtfocus6" ng-model="tmpAntenna.name" class="form-control" placeholder="">
			                <div>
								<button class="btn btn-success-transparent pull-right" ng-click="searchLocation();">Buscar</button>
							</div>
						</div>
	            	</div>
	            </div>
	            
	            <div class="col-sm-6" > 
               		<div class="content-box content-box-container" style="margin-bottom:40px;">
               		</div>
	            </div>	
	            
	     </div>
	</div>
</div>



