<div ng-controller="GTCustomersVC" customers-view-ctlr ng-cloak>
   <fbtm-topbar profile="profile"></fbtm-topbar>
   <div class="container-fluid">
      <div class="row">
        <fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>
        <div class="col-sx-9 col-sx-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{titleCollec}}</h1>
          

            <div>
              <div class="btn-group btn-group-lg btn-group-justified">
                
                <div class="btn btn-default" ng-click="crearlista();"><span class="glyphicon glyphicon-plus"></span>
                Añadir(Botón de Desarrollo)</div>
                
                <div class="btn btn-default" ng-click="borrarlista();"><span class="glyphicon glyphicon-remove"></span>
                Borrar Lista</div>
                
                <div class="btn btn-default"><span class="glyphicon glyphicon-th"></span>
                <a href="#/customers/collection">Vista en Iconos</a></div>
               
                <div class="btn btn-default"><span class="glyphicon glyphicon-list"></span> 
                <a href="#/customers/list">Vista en Lista</a></div>
              </div>
            </div>

          

            
              <div class="jm-item second" ng-repeat="key in customersKeyList">
                <div class="jm-item-wrapper">
                  <div class="jm-item-image">
                      <div class="fbtm-infocard-view-collection-img" style="background-image:url('images/{{customersList[key].foto}}');">
                      </div>
                      <div class="fbtm-infocard-view-collection-info">
                        <h3>Nombre : {{customersList[key].name}} {{customersList[key].apellido}}</h3>
                      </div>
                      <div class="jm-item-description">
                       <div class="customers-top customersPoint"><label>Puntos : {{customersList[key].puntos}} pts &nbsp;</label></div>
                       <div class="customersPoint"><label>Ultima Visita : {{customersList[key].lastVisita}}&nbsp;</label></div>
                      </div>
                      </div>
                 </div>     
              </div>
        </div>
      </div>
   </div> 
</div>