<fbtm-topbar profile="profile" path="path"></fbtm-topbar> 
<fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>    

<div class="main" ng-controller="GTInfoCardsVC" ng-cloak class="container-non-responsive">
	<div class="view-container">
		<div class="row" >  
			<div class="col-sm-12" style="padding-left:20px;padding-right:20px;padding-bottom:40px;">
			    <div class="pull-left">
					<a class="btn btn-lg btn-success-transparent" href="#/infocard/collection"><span class="glyphicon glyphicon-th"></span> Colección</a>
		    	</div>
				  
		        <div class="pull-right">
		          	<div class="btn btn-lg btn-success " ng-click="openInfocardModal();"><span class="glyphicon glyphicon-plus"></span> Info Card</div>
				</div>       
				<div class="text-center">
				 	<div>{{infoCardKeyList.length}}</div>
				</div>  
			</div> 

             
        <div class="col-sm-12 " style="padding-left:20px;padding-right:20px;padding-bottom:40px;">
			
                	<div class="content-box content-box-container">
	          			<div class="table-responsive">
				            <table class="table table-striped">
				              <thead>
				                <tr>
				                  <th ng-repeat="cab in cabeceras">{{cab}}</th>
				                </tr>
				              </thead>
				              <tbody>
				                <tr ng-repeat="key in infoCardKeyList">
				                    <td><img class="Photo" src="{{infoCardList[key].urlImg}}"></td>
				                    <td class="centro">{{infoCardList[key].title}}</td>
				                    <td class="centro">{{infoCardList[key].description}}</td>     
				                    <td class="centro"><button type="button"class="btn btn-success-transparent"
				                        ng-click='openInfocardModal(key);'>Editar</button></td>                                                    
				                  </tr>
				              </tbody>
           					 </table>
       					 </div> 
     				</div>
				</div>
		</div>
	</div>
</div>
