
<div class="modal-header" class='infocards_modal_header'>
  <button type="button"  class="close" data-dismiss="modal"  ng-click='cancel();' aria-hidden="true">&times;</button>
  <h3 class="modal-title text-center">{{title}}</h3>
</div>
<div class="modal-body">
	 <div class="background-blur-effect" style="top:70px;left:-10px;width: 1020px; height: 540px; background-image: url('{{urlImgOrgBackground}}');"></div>
	 <div class="background-blur-effect" style="top:70px;left: 650px;width: 410px; height: 540px; background-color:white;"></div>
   	
      <div class="row">
         <div class="col-xs-8 col-md-8 form-group">
               <div class="fbtm-start-infocard-phone">
                  <div class="fbtm-start-infocard-img"  style="background-image:url('{{tmpInfocard.urlImg}}');">
                  </div>
                  <div class="fbtm-start-infocard-info">
                    <h3>{{defaultTitle}}</h3>
                    <p>{{defaultDescription}}</p>
                  </div>
               </div>
          </div>  
        <div class="col-xs-4 col-md-4 form-group">
              <h4>Imagen</h4>
             <fbtm-input-file-loader imgmodel="tmpInfocard.urlImg" file="images.fileUrlImg"></fbtm-input-file-loader>
              <h4>Título</h4>
              <input type="text" autofocus class="form-control" ng-model="tmpInfocard.title" placeholder="{{plctitleInfocard}}" maxlength='36' > 
              
              <h4>Descripción</h4>
              <textarea type="text" ng-model="tmpInfocard.description" placeholder="{{plcdescription}}" class="form-control" maxlength='250' style="width:100%;max-width:100%;height:150px;max-height:290px;"></textarea> 
        </div> 
        
        </div>

</div>
      
<div class="modal-footer">
  <a class="pull-left btn btn-default" href="http://fibity.com" target="_black">¿Donde encuentro la clave de activación?</a>
  <button type="button" class="btn btn-default btn-success"  ng-click='cancel()' data-dismiss="modal">Cerrar</button>
  
  <button type="button" ng-disabled="boton" class="btn btn-primary btn-success" ng-show="visibility.visible == true && visibility.botonLoading == false"
	   ng-disabled="boton" ng-click="guardarCambios()">Guardar</button>
	   
  <button class="btn btn-primary btn-success" ng-show="visibility.visible == false && visibility.botonLoading == true"
	   ng-disabled=true><img src="images/fbtm_wait.gif"/> Guardando... </button>
</div>
