<fbtm-topbar profile="profile" path="path"></fbtm-topbar> 
<fbtm-sidebar activeitem="activeitem"></fbtm-sidebar>    

<div class="main">
	<div class="view-container">
		<div class="row">  

	   	
                <div class="col-sm-5 col-md-5 col-lg-6" style="margin-bottom:40px;">
                	<div class="fbtm-start-infocard-phone">
                      <div class="fbtm-start-organization-app" style="background-image:url('../images/fibity-app-screenshot.PNG');">
                         <div class="fbtm-start-organization-background" style="background-image:url('{{tmpOrganization.urlImgBackground}}');">
                            <div class="fbtm-start-organization-background-dark">
                              <div class="fbtm-start-organization-logo  text-center" >
                                <img src="{{tmpOrganization.urlImgLogo}}" />
                                  <h3>{{txtEspNombre}}</h3>
                                  <p>{{txtEspslogan}}</p>
                              </div>
                             </div> 
                         </div>
                      </div>
                    </div>
                </div>
                 
                <div class="col-sm-7 col-md-7 col-lg-6">
                	<div class="content-box content-box-container">
		             	<div class="form-group" style="zindex:500;">
		                    <label for="exampleInputPassword1">Marca / Logo</label>
		                    <fbtm-input-file-loader imgmodel="tmpOrganization.urlImgLogo" file="fileLogo">
		                </div>
		                <div class="form-group" style="zindex:500;">
		                    <label for="exampleInputPassword1">Imagen de fondo</label>
		                     <fbtm-input-file-loader imgmodel="tmpOrganization.urlImgBackground" file="fileBackground">
		                </div>
		                 <div class="form-group">
		                    <label for="exampleInputPassword1">Nombre</label>
		                    <input type="text" class="form-control" ng-model="tmpOrganization.name" placeholder="Bar Mauricio">
		                </div>
		                <div class="form-group">
		                    <label for="exampleInputPassword1">Eslogan</label>
		                    <input type="text"class="form-control" ng-model="tmpOrganization.slogan"  placeholder="Desayuno 0,99€">
		                </div>
		                <div class="form-group">
		                    <label for="exampleInputPassword1">Descripción</label>
		                    <textarea id='descripOrga' class="form-control" ng-model="tmpOrganization.description" placeholder="Esto es un desayuno que incluye café, zumo y fruta."></textarea>
		                </div>
	                </div>
	
               </div>
               
               <div class="col-sm-7 col-md-7 col-lg-6">
               		<div class="content-box content-box-container">
		                <div class="form-group">
		                    <label for="exampleInputPassword1">Web</label>
		                    <input type="text" class="form-control" ng-model="tmpOrganization.socialWeb">
		                </div>
		                <div class="form-group">
		                    <label for="exampleInputPassword1">Facebook</label>
		                    <input type="text"class="form-control" ng-model="tmpOrganization.socialFacebook">
		                </div>
		                <div class="form-group">
		                    <label for="exampleInputPassword1">Twitter</label>
		                    <input type="text"class="form-control" ng-model="tmpOrganization.socialTwitter">
		                </div>
		                <div class="form-group">
		                    <label for="exampleInputPassword1">Linked In</label>
		                    <input type="text"class="form-control" ng-model="tmpOrganization.socialLinkedin">
		                </div>
	                </div>
               </div>
         </div>

	</div>
	
</div>

<div class="buttons-box-bottom" style="position: absolute;" ng-show="visibility.visible"> 
     <button class="btn btn-success-transparent btn-lg"  ng-show="!visibility.bm1" ng-click="discard()" type="submit">Descartar cambios</button>	
     <button class="btn btn-success btn-lg"  ng-show="!visibility.bm1" ng-disabled="boton" ng-click="guardarCambios()" type="submit">Guardar Cambios</button>
	 <button class="btn btn-success btn-lg" ng-show="visibility.bm1" ng-disabled=true type="submit"><img src="../images/fbtm_wait.gif"/> Guardando... </button>			
</div>



