[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}


input[type="checkbox"] { 
      position: absolute;
      opacity: 0;
    }
    
    /* Normal Track */
    input[type="checkbox"].ios-switch + div {
      color: #ddd;
      vertical-align: middle;
      width: 40px;  height: 20px;
      border-radius: 999px;
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-transition-duration: .4s;
      -webkit-transition-property: background-color, box-shadow;
      box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
      margin: 15px 1.2em 15px 2.5em;
    text-align: center;
  text-indent: 1px;
  font: 33px/97px avenir;
}

input[type="checkbox"].ios-switch + div:after {
  content: "O";
  
}

input[type="checkbox"].ios-switch:checked + div:before{
  content: "I";
  color: black;
}
    
    /* Checked Track (Blue) */
    input[type="checkbox"].ios-switch:checked + div {
      width: 40px;
      background-position: 0 0;
      background-color: #3b89ec;
      box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
    }
    
    /* Big Track */
    input[type="checkbox"].bigswitch.ios-switch + div {
      width: 157px;  height: 103px;
      
    }
    
    /* Green Track */
    input[type="checkbox"].green.ios-switch:checked + div {
      background-color: #00e359;
      box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
      
    }
    
    /* Normal Knob */
    input[type="checkbox"].ios-switch + div > div {
      float: left;
      width: 18px; height: 18px;
      border-radius: inherit;
      background: #ffffff;
      -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
      -webkit-transition-duration: 0.4s;
      -webkit-transition-property: transform, background-color, box-shadow;
      -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
      -moz-transition-duration: 0.4s;
      -moz-transition-property: transform, background-color;
      /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);*/
      pointer-events: none;
      margin-top: 1px;
      margin-left: 1px;
    }
    
    
    /* Checked Knob (Blue Style) */
    input[type="checkbox"].ios-switch:checked + div > div {
    
    
      -webkit-transform: translate3d(20px, 0, 0);
      -moz-transform: translate3d(20px, 0, 0);
      background-color: #ffffff;
      /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);*/
      color: #00e359;
    }
    
    /* Big Knob */
    input[type="checkbox"].bigswitch.ios-switch + div > div {
      width: 99px; height: 99px;
      margin-top: 2px;
      
    }
    /* Checked Big Knob (Blue Style) */
    input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
      -webkit-transform: translate3d(55px, 0, 0);
      -moz-transform: translate3d(55px, 0, 0);
      /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);*/
    }
    
    /* Green Knob */
    input[type="checkbox"].green.ios-switch:checked + div > div {
      /*box-shadow: 0 2px 3px rgba(8, 209, 15, 0.15), 0 0 0 1px rgba(0, 162, 63,1);
    -moz-box-shadow: 0 2px 3px rgba(8, 209, 15, 0.15), 0 0 0 1px rgba(0, 162, 63,1);*/
  }
  
  
  
/* Best result in Webkit Browser */

@import url('http://fonts.googleapis.com/css?family=Raleway:400,300');

.content
{
    
    top: 100px;
    width: 350px;
    margin: 20px auto;
}

input[type="range"]
{
    
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 350px;
    height: 20px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #00e359), color-stop(0.85, #00e359));
    background-image: -moz-gradient(linear, left bottom, left top, color-stop(0.15, #00e359), color-stop(0.85, #00e359));
    background-image: -ms-gradient(linear, left bottom, left top, color-stop(0.15, #00e359), color-stop(0.85, #00e359));
    background-image: -o-gradient(linear, left bottom, left top, color-stop(0.15, #00e359), color-stop(0.85, #00e359));
    background-image: gradient(linear, left bottom, left top, color-stop(0.15, #00e359), color-stop(0.85, #00e359));
    outline: none;
    border: 2;
    border-radius: 20px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb
{
    -webkit-appearance: none !important;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #D8DAD9), color-stop(0.85, #E6E9E7));
    height: 18px;
    width: 50px;
    border-radius: 20px;
    margin-left: 1px;
    margin-right: 2px;
}

input[type='range']::-moz-slider-thumb
{
    -webkit-appearance: none !important;
    background-image: -moz-gradient(linear, left bottom, left top, color-stop(0.15, #E6E9E7), color-stop(0.85, #D8DAD9));
    height: 18px;
    width: 50px;
    border-radius: 20px;
}

input[type="range"]:before
{
    position: absolute;
    content: '\f104';
    font: 17px 'FontAwesome';
    float: left;
    left: -15px;
    top: 1px;
  color: #f7f7f7;
}

input[type="range"]:after
{
    position: absolute;
    content: '\f105';
    font: 17px 'FontAwesome';
    float: right;
    right: -17px;
    top: 1px;
  color: #f7f7f7;
}


/* ProgressBar */
.container .progress {
  width: 350px;
  border-radius: 20px;
  border-color: #000000;
}

.progress {
  padding: 2px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  position: relative;
  height: 19px;
  margin-top: 0px;
  border-radius: 20px;
  border-color: black;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar:before, .progress-bar:after {
  content: '';
  position: absolute;
  margin-top: 0px;
  left: 1px;
  right: 1px;
}

.progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 *       http://www.htmlquick.com/es/reference/color-codes.html
 */
  
.p0:checked ~ .progress > .progress-bar {
  width: 0%;
  background-color:#00ff2d;
} 
.p1:checked ~ .progress > .progress-bar {
  width: 1%;
  background-color:#00ff2d;
}
.p2:checked ~ .progress > .progress-bar {
  width: 2%;
  background-color:#00ff1e;
}
.p3:checked ~ .progress > .progress-bar {
  width: 3%;
  background-color:#00ff0f;
}
.p4:checked ~ .progress > .progress-bar {
  width: 4%;
  background-color:#00ff00;
}
.p5:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #0fff00;
}
.p6:checked ~ .progress > .progress-bar {
  width: 6%;
  background-color: #15ff15;
}
.p7:checked ~ .progress > .progress-bar {
  width: 7%;
  background-color: #2dff00;
}
.p8:checked ~ .progress > .progress-bar {
  width: 8%;
  background-color: #3cff00;
}
.p9:checked ~ .progress > .progress-bar {
  width: 9%;
  background-color: #4bff00;
}
.p10:checked ~ .progress > .progress-bar {
  width: 10%;
  background-color: #86f01e;
}
.p11:checked ~ .progress > .progress-bar {
  width: 11%;
  background-color: #86f01e;
}
.p12:checked ~ .progress > .progress-bar {
  width: 12%;
  background-color: #50ff2b;
}
.p13:checked ~ .progress > .progress-bar {
  width: 13%;
  background-color: #50ff2b;
}
.p14:checked ~ .progress > .progress-bar {
  width: 14%;
  background-color: #50ff2b;
}
.p15:checked ~ .progress > .progress-bar {
  width: 15%;
  background-color: #65ff35;
}
.p16:checked ~ .progress > .progress-bar {
  width: 16%;
  background-color: #65ff35;
}
.p17:checked ~ .progress > .progress-bar {
  width: 17%;
  background-color: #65ff35;
}
.p18:checked ~ .progress > .progress-bar {
  width: 18%;
  background-color: #71ff35;
}
.p19:checked ~ .progress > .progress-bar {
  width: 19%;
  background-color: #71ff35;
}
.p20:checked ~ .progress > .progress-bar {
  width: 20%;
  background-color: #71ff35;
}
.p21:checked ~ .progress > .progress-bar {
  width: 21%;
  background-color: #8fff40;
}
.p22:checked ~ .progress > .progress-bar {
  width: 22%;
  background-color: #8fff40;
}
.p23:checked ~ .progress > .progress-bar {
  width: 23%;
  background-color: #8fff40;
}
.p24:checked ~ .progress > .progress-bar {
  width: 24%;
  background-color: #8fff40;
}
.p25:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #9fff4a;
}
.p26:checked ~ .progress > .progress-bar {
  width: 26%;
  background-color: #9fff4a;
}
.p27:checked ~ .progress > .progress-bar {
  width: 27%;
  background-color: #9fff4a;
}
.p28:checked ~ .progress > .progress-bar {
  width: 28%;
  background-color: #bcff40;
}
.p29:checked ~ .progress > .progress-bar {
  width: 29%;
  background-color: #bcff40;
}
.p30:checked ~ .progress > .progress-bar {
  width: 30%;
  background-color: #bcff40;
}
.p31:checked ~ .progress > .progress-bar {
  width: 31%;
  background-color: #d5ff4a;
}
.p32:checked ~ .progress > .progress-bar {
  width: 32%;
  background-color: #d5ff4a;
}
.p33:checked ~ .progress > .progress-bar {
  width: 33%;
  background-color: #d5ff4a;
}
.p34:checked ~ .progress > .progress-bar {
  width: 34%;
  background-color: #d5ff4a;
}
.p35:checked ~ .progress > .progress-bar {
  width: 35%;
  background-color: #d5ff4a;
}
.p36:checked ~ .progress > .progress-bar {
  width: 36%;
  background-color: #d5ff4a;
}
.p37:checked ~ .progress > .progress-bar {
  width: 37%;
  background-color: #ddff40;
}
.p38:checked ~ .progress > .progress-bar {
  width: 38%;
  background-color: #ddff40;
}
.p39:checked ~ .progress > .progress-bar {
  width: 39%;
  background-color: #ddff40;
}
.p40:checked ~ .progress > .progress-bar {
  width: 40%;
  background-color: #ddff40;
}
.p41:checked ~ .progress > .progress-bar {
  width: 41%;
  background-color: #ddff40;
}
.p42:checked ~ .progress > .progress-bar {
  width: 42%;
  background-color: #ddff40;
}
.p43:checked ~ .progress > .progress-bar {
  width: 43%;
  background-color: #f5ff55;
}
.p44:checked ~ .progress > .progress-bar {
  width: 44%;
  background-color: #f5ff55;
}
.p45:checked ~ .progress > .progress-bar {
  width: 45%;
  background-color: #f5ff55;
}
.p46:checked ~ .progress > .progress-bar {
  width: 46%;
  background-color: #f5ff55;
}
.p47:checked ~ .progress > .progress-bar {
  width: 47%;
  background-color: #f5ff55;
}
.p48:checked ~ .progress > .progress-bar {
  width: 48%;
  background-color: #f5ff55;
}
.p49:checked ~ .progress > .progress-bar {
  width: 49%;
  background-color: #ffff00;
}

/* Amarillo */
.p50:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #ffff40;
}
.p51:checked ~ .progress > .progress-bar {
  width: 51%;
  background-color: #ffff40;
}
.p52:checked ~ .progress > .progress-bar {
  width: 52%;
  background-color: #ffff40;
}
.p53:checked ~ .progress > .progress-bar {
  width: 53%;
  background-color: #ffff40;
}
.p54:checked ~ .progress > .progress-bar {
  width: 54%;
  background-color: #ffff40;
}
.p55:checked ~ .progress > .progress-bar {
  width: 55%;
  background-color: #ffff40;
}
.p56:checked ~ .progress > .progress-bar {
  width: 56%;
  background-color: #ffd54a;
}
.p57:checked ~ .progress > .progress-bar {
  width: 57%;
  background-color: #ffd54a;
}
.p58:checked ~ .progress > .progress-bar {
  width: 58%;
  background-color: #ffd54a;
}
.p59:checked ~ .progress > .progress-bar {
  width: 59%;
  background-color: #ffd54a;
}
.p60:checked ~ .progress > .progress-bar {
  width: 60%;
  background-color: #ffd54a;
}
.p61:checked ~ .progress > .progress-bar {
  width: 61%;
  background-color: #ffd54a;
}
.p62:checked ~ .progress > .progress-bar {
  width: 62%;
  background-color: #ffca4a;
}
.p63:checked ~ .progress > .progress-bar {
  width: 63%;
  background-color: #ffca4a;
}
.p64:checked ~ .progress > .progress-bar {
  width: 64%;
  background-color: #ffca4a;
}
.p65:checked ~ .progress > .progress-bar {
  width: 65%;
  background-color: #ffca4a;
}
.p66:checked ~ .progress > .progress-bar {
  width: 66%;
  background-color: #ffca4a;
}
.p67:checked ~ .progress > .progress-bar {
  width: 67%;
  background-color: #ffca4a;
}
.p68:checked ~ .progress > .progress-bar {
  width: 68%;
  background-color: #ff9a40;
}
.p69:checked ~ .progress > .progress-bar {
  width: 69%;
  background-color: #ff9a40;
}
.p70:checked ~ .progress > .progress-bar {
  width: 70%;
  background-color: #ff9a40;
}
.p71:checked ~ .progress > .progress-bar {
  width: 71%;
  background-color: #ff9a40;
}
.p72:checked ~ .progress > .progress-bar {
  width: 72%;
  background-color: #ff9a40;
}
.p73:checked ~ .progress > .progress-bar {
  width: 73%;
  background-color: #ff9a40;
}
.p74:checked ~ .progress > .progress-bar {
  width: 74%;
  background-color: #ff9a40;
}
.p75:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #ff8a4a;
}
.p76:checked ~ .progress > .progress-bar {
  width: 76%;
  background-color: #ff8a4a;
}
.p77:checked ~ .progress > .progress-bar {
  width: 77%;
  background-color: #ff8a4a;
}
.p78:checked ~ .progress > .progress-bar {
  width: 78%;
  background-color: #ff8a4a;
}
.p79:checked ~ .progress > .progress-bar {
  width: 79%;
  background-color: #ff8a4a;
}
.p80:checked ~ .progress > .progress-bar {
  width: 80%;
  background-color: #ff8a4a;
}
.p81:checked ~ .progress > .progress-bar {
  width: 81%;
  background-color: #ff6535;
}
.p82:checked ~ .progress > .progress-bar {
  width: 82%;
  background-color: #ff6535;
}
.p83:checked ~ .progress > .progress-bar {
  width: 83%;
  background-color: #ff6535;
}
.p84:checked ~ .progress > .progress-bar {
  width: 84%;
  background-color: #ff6535;
}
.p85:checked ~ .progress > .progress-bar {
  width: 85%;
  background-color: #ff6535;
}
.p86:checked ~ .progress > .progress-bar {
  width: 86%;
  background-color: #ff6535;
}
.p87:checked ~ .progress > .progress-bar {
  width: 87%;
  background-color: #ff502b;
}
.p88:checked ~ .progress > .progress-bar {
  width: 88%;
  background-color: #ff502b;
}
.p89:checked ~ .progress > .progress-bar {
  width: 89%;
  background-color: #ff502b;
}
.p90:checked ~ .progress > .progress-bar {
  width: 90%;
  background-color: #ff502b;
}
.p91:checked ~ .progress > .progress-bar {
  width: 91%;
  background-color: #ff502b;
}
.p92:checked ~ .progress > .progress-bar {
  width: 92%;
  background-color: #ff502b;
}
.p93:checked ~ .progress > .progress-bar {
  width: 93%;
  background-color: #ff1515;
}
.p94:checked ~ .progress > .progress-bar {
  width: 94%;
  background-color: #ff1515;
}
.p95:checked ~ .progress > .progress-bar {
  width: 95%;
  background-color: #ff1515;
}
.p96:checked ~ .progress > .progress-bar {
  width: 96%;
  background-color: #ff1515;
}
.p97:checked ~ .progress > .progress-bar {
  width: 97%;
  background-color: #ff0000;
}
.p98:checked ~ .progress > .progress-bar {
  width: 98%;
  background-color: #ff0000;
}
.p99:checked ~ .progress > .progress-bar {
  width: 99%;
  background-color: #ff0000;
}
.p100:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #ff0000;
}


.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 5px 0px 5px;
  padding: 3px 8px;
  color: #f7f7f7;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}
.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
