<div> 
	<i>Esta parte todavia falta terminar</i>
	<br/><br/>
	<label class="switch">
    <br/>
    <input type="checkbox" class="ios-switch green  bigswitch" ng-model="cmp.button" checked="cmp.button"/>
          <div><div>{{titulo}}</div></div>      
    </label>
    
    <div >
    <h4>Limite</h4>
    <form oninput="amount.value=rangeInput.value">
        <input type="range" id="rangeInput" name="rangeInput" min="0" max="1000" step="10" ng-model="cmp.cli" > {{cmp.cli.toInt()}} Usuarios
        <output name="amount" for="rangeInput=cmp.cli"> </output> 
    </form>
    
    Usuarios que han visto la oferta
    <input type="button" ng-click="cmp.percentage()" value="Usuario" > {{cmp.usr}} Usuarios
    
    <section>
    <input type="radio" class="radio" name="progress" ng-class="cmp.id" id="cmp.id" checked=true >
    <label for="cmp.id" class="label">{{cmp.id}}%</label>

    <div class="progress animate">
      <div class="progress-bar animate"></div>
    </div>
  </section>
   </div>
</div>   