<div class="topbar">

    <div class="topbar-path">
			<span ng-repeat="item in path"> <span class="glyphicon glyphicon-chevron-right" style="font-size:13px;" ng-show="$index != 0"> </span><a href="{{item.href}}"> {{item.name}} </a></span>
	</div>
	
	<div class="topbar-user">
       <div class="name"><a href="#/config/userprofile">{{profile.name}} {{profile.lastname}}</a></div>
       <div class="email">{{profile.email}}</div>
       <div  class="logout"><a href="#/logout" class="glyphicon glyphicon-off"></a></div>
    </div>
    
    <div class="topbar-options">
		<a class="btn btn-lg btn-white-transparent" href="http://fibity.com" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> fibity.com</a>
		<a class="btn btn-lg btn-white-transparent" href="#/campaigns/list"><span class="glyphicon glyphicon-share-alt"></span> Soporte</a> 
    
    	<div class=" pull-right">
	    	<!--<a class="btn btn-lg btn-white-transparent" href="#/campaigns/list"><span class="glyphicon glyphicon-info-sign"></span> Soporte</a> 
	    	<a class="btn btn-lg btn-white-transparent" href="#/campaigns/list"><span class="glyphicon glyphicon-list"></span> Terminos y condiciones</a> -->
	    	<a class="btn btn-lg btn-white" href="#/config/userprofile"><span class="glyphicon glyphicon-user"></span> Mi cuenta</a> 
	  	</div>
    </div>
    
</div>